Dear [$TO_NAME$],

You have been invited to work on a publication. For further information, please visit [$PORTAL_PUBLICATION_REVIEW_CHANGES_URL$].

Sincerely,
[$FROM_NAME$]
[$FROM_ADDRESS$]
[$PORTAL_URL$]